@model IEnumerable<WebAnToanVeSinhThucPhamDemo.Models.Blog.DanhMuc>


    @foreach (var item in Model)
    {
        <li class="submenu">
            <a href="#"><i class="fas fa-user"></i> <span>@item.TenDanhMuc</span> <span class="menu-arrow"></span></a>
            <ul class="submenu_class" style="display: none;">
                <li><a href="all-customer.html"> Danh mục con</a></li>
                <li><a href="edit-customer.html"> Danh mục con </a></li>
                <li><a href="add-customer.html"> Danh mục  </a></li>
            </ul>
        </li>
    }
    
    
