@{
    ViewData["Title"] = "Hướng dẫn sử dụng";
}
@{

    Layout = "_Layout";
}

<hr />
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Hướng dẫn sử dụng</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Đăng ký tài khoản cho chủ cơ sở</h6>
                    <ul>
                        <li>Tại góc phải trang web, chọn <span class="badge badge-secondary">Đăng ký</span></li>
                        <li>Nhập các thông tin theo yêu cầu</li>
                        <li>Chọn nút <span class="badge badge-secondary">Đăng Ký</span></li>
                        <li>Vào hộp thư email để xác nhận tài khoản</li>
                        <li>Sau khi xác nhận thành công, tiếp tục đăng nhập</li>
                    </ul>
                    <hr />
                    <h6 class="card-title">Đăng ký cấp giấy chứng nhận</h6>
                    <ul>
                        <li>Đăng nhập vào tài khoản</li>
                        <li>Chọn <span class="badge badge-secondary">Đăng ký chứng nhận</span></li>
                        <li>Tiếp tục chọn <span class="badge badge-secondary">Đăng ký ATTP mới</span></li>
                        <li>Nhập các thông tin yêu cầu</li>
                        <li>Sau khi nhập đầy đủ, chọn <span class="badge badge-secondary">Gửi hồ sơ</span></li>
                    </ul>
                    <hr />
                    <h6 class="card-title">Quản lý các cơ sở của bạn</h6>
                    <ul>
                        <li>Đăng nhập vào tài khoản</li>
                        <li>Chọn <span class="badge badge-secondary">Cơ sở kinh doanh</span></li>
                        <li>Tiếp tục chọn <span class="badge badge-secondary">Quản lý cơ sở kinh doanh</span></li>
                    </ul>
                    <hr />
                    <h6 class="card-title">Báo cáo cơ sở vi phạm</h6>
                    <ul>
                        <li>Chọn <span class="badge badge-secondary">Báo cáo vi phạm</span></li>
                        <li>Tiếp tục chọn <span class="badge badge-secondary">Báo cáo vi phạm</span></li>
                        <li>Nhập các thông tin theo yêu cầu</li>
                        <li>Chọn nút <span class="badge badge-secondary">Gửi báo cáo</span></li>
                        <li>Chọn <span class="badge badge-secondary">Danh sách báo cáo</span> để xem các báo cáo vi phạm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>